<header class="header">
    <img src="../../../assets/logo86.png" alt="Logo Real Store">
    <div class="content">
        <nav class="side-nav">
            <ul class="user-nav">
                <li class="user-nav__item">
                    <a href="#" class="user-nav__link">
                        <span>Home</span>
                    </a>
                </li>
                <li class="user-nav__item">
                    <a href="#" class="user-nav__link">
                        <span>Sobre</span>
                    </a>
                </li>
                <li class="user-nav__item">
                    <a href="#" class="user-nav__link">
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        </nav>
        <app-navigation></app-navigation>
    </div>

</header>

<app-slide></app-slide>