<section class="section-destaques">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="../../../../../assets/cover.mp4" type="video/mp4">
            <source src="../../../../../assets/cover.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>
    <div class="u-center-text">
        <h2 class="heading-secundary u-margin-bootom-big ">Produtos mais populares</h2>
    </div>

    <!--<app-slider></app-slider> -->

    <div class="wrapper u-center-component">
        <input checked type=radio name="slider" id="slide1" />
        <input type=radio name="slider" id="slide2" />
        <input type=radio name="slider" id="slide3" />
        <input type=radio name="slider" id="slide4" />
        <input type=radio name="slider" id="slide5" />

        <div class="slider-wrapper">
            <div class="destaque_referencia">
                <h3 class="u-margin-bootom-small underline--magical">Vestidos</h3>
            </div>
            <div class="inner">
                <article>
                    <div class="list-product list-product__main">
                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v1.jpg');">
                                    </figure>
                                </div>
                                <!--
                                <figure class="list-product list-product__shape">
                                        <img class="list-product list-product__img" 
                                        src="../../../../../assets/produto/vestidos/v1.jpg" alt="">
                                    </figure>  -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>

                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v2.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img" 
                                    src="../../../../../assets/produto/vestidos/v2.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>

                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v3.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img"
                                        src="../../../../../assets/produto/vestidos/v3.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>

                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v4.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img"
                                        src="../../../../../assets/produto/vestidos/v4.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
                <article>
                    <div class="list-product  list-product__main">
                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v5.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img"
                                        src="../../../../../assets/produto/vestidos/v5.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>

                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v6.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img"
                                        src="../../../../../assets/produto/vestidos/v6.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>

                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v7.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img"
                                        src="../../../../../assets/produto/vestidos/v7.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>

                        <div class="list-product list-product__item">
                            <div class="list-product list-product__content">
                                <div class="list-product list-product__title"><span></span></div>
                                <div class="list-product list-product__shape">
                                    <figure class="list-product list-product__body"
                                        style="background-image: url('../../../../../assets/produto/vestidos/v8.jpg');">
                                    </figure>
                                </div>
                                <!-- <figure class="list-product list-product__shape">
                                    <img class="list-product list-product__img"
                                        src="../../../../../assets/produto/vestidos/v8.jpg" alt="">
                                </figure> -->
                                <div class="list-product list-product__description">
                                    <span class="destaque__description">Vestido braco Simples Detalhe Costa</span>
                                    <br>
                                    <span class="destaque__description destaque__value">R$ 129,99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="slider-prev-next-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
            <label for=slide4></label>
            <label for=slide5></label>
        </div>
    </div>

</section>