.u-center-text {
    text-align: center !important;
}

.u-center-component {
    display: flex !important;
    justify-content: center !important;
}

.u-margin-bootom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bootom-small {
    margin-bottom: 3rem !important;
}

