$color-primary: #DC2052;
$color-primary-light: #E54B74;
$color-primary-light-1: #EC7997;
$color-primary-dark: #B01A42;

$color-black: #000;
$color-white: #fff;
$color-content: #E4E3E1;

$color-gray-dark-1: #1B1B1B;
$color-gray-dark-2: #333;
$color-gray-dark-3: #272727;
$color-gray-dark-4: #777;

$color-grey-light-1: #faf9f9;
