<div class="slide">
    <div id="caixa-slider">
        <div id="slider">
            <div id="mascara">
                <ul>
                    <li id="primeiro" class="primeira-anima">
                        <a href="#">
                            <img src="https://images.unsplash.com/photo-1509067917181-3ec8d8ef5170?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                alt="Lago" />
                        </a>
                        <span class="caption caption__center">Produtos com até 80% de desconto!</span>
                    </li>
                    <li id="segundo" class="segunda-anima">
                        <a href="#">
                            <img src="https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                alt="Neve" />
                        </a>
                        <span class="caption caption__top_left">Liquidação de inverno<br>CONFIRA!</span>
                    </li>
                    <li id="terceiro" class="terceira-anima">
                        <a href="#">
                            <img src="https://images.unsplash.com/photo-1551619873-fcaaf90f88b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                alt="Lagoa" />
                        </a>
                        <span class="caption caption__center_right">Calças a partir de<br>R$69</span>
                    </li>
                    <li id="quarto" class="quarta-anima">
                        <a href="#">
                            <img src="https://images.unsplash.com/photo-1523199455310-87b16c0eed11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                alt="Campo" />
                        </a>
                        <span class="caption caption__bottom_right">Blusas 20% OFF</span>
                    </li>
                    <li id="quinto" class="quinta-anima">
                        <a href="#">
                            <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                alt="Árvore" />
                        </a>
                        <span class="caption caption__bottom_left">Novidades da próxima estação!</span>
                    </li>
                </ul>
            </div>
            <div class="barra-progresso"></div>
        </div>
    </div>
</div>